In [1]:
# Import Library
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/Mall_Customers.csv')
print("Initial shape:", df.shape)
print(df.head())

Initial shape: (200, 5)
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [2]:
# Rename columns to lowercase with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Check for missing values
print("\nMissing values:\n", df.isnull().sum())

# Drop missing values if found
df = df.dropna()

# Remove duplicate rows
df = df.drop_duplicates()
print("\nShape after removing duplicates:", df.shape)

Missing values:
 customerid                0
gender                    0
age                       0
annual_income_(k$)        0
spending_score_(1-100)    0
dtype: int64

Shape after removing duplicates: (200, 5)

In [3]:
# Standardize text fields
# Example: Standardize gender values (e.g., Male/Female variations)
if 'gender' in df.columns:
    df['gender'] = df['gender'].str.strip().str.capitalize()

In [5]:
# Convert and check data types
# Example: Make sure 'age' is integer
if 'age' in df.columns:
    df['age'] = df['age'].astype(int)

In [6]:
# Save cleaned dataset
df.to_csv('Mall_Customers_Cleaned.csv', index=False)
print("\nCleaned data preview:")
print(df.head())

Cleaned data preview:
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40